@import url("++theme++barceloneta/less/variables.plone.less");

#vmap {
	width: 100%;
	height: 500px;
}

.jqvmap-label
{
	position: absolute;
	display: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: @plone-link-color;
	color: white;
	font-family: sans-serif, Verdana;
	font-size: smaller;
	padding: 3px;
  pointer-events:none;
}
.jqvmap-pin {
  pointer-events: none;
}
.jqvmap-zoomin, .jqvmap-zoomout
{
	position: absolute;
	top: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: @plone-link-color;
	color: white;
	width: 50px;
	height: 50px;
	cursor: pointer;
	line-height: 50px;
	text-align: center;
	font-size: xx-large;
}
.jqvmap-zoomin
{
	right: 70px;
}
.jqvmap-zoomout
{
	right: 10px;
}
.jqvmap-region
{
  cursor: pointer;
}
.jqvmap-ajax_response
{
  width: 100%;
  height: 500px;
}
.selectContainer {
	position: absolute;
	top: 60px;
	right: 130px;
}

#map_container {
	position: relative;
}

#ergebnis {
	display: none;
	position: absolute;
	top: 60px;
	max-width: 30%;
	background-color: #fff;
	opacity: 0.6;
	.close {
		width: 50%;
		text-align: right;
		cursor: pointer;
		float:right;
	}
	#countryUeberschrift {
		font-size: 25px;
		color: @plone-link-color;
	}
	.firma {
		font-size: 20px;
	}
}